<div class="card-small">
    <ul>
        <li>
            <div class="card-image waves-effect waves-block waves-light">
                <img class="activator" src="http://hibult-static.websplanetdemo.com/var/m_f/f0/f0c/46688/699429-morressi-robles-bienes-raices-banner.jpg?1456246043584?v=6.5.1.35040">
            </div>
        </li>
    </ul>
</div>

<div class="row">
    <div class="center col-md-4">
        <i class="large material-icons">verified_user</i>
        <p>
            Seguridad total de sus bienes
        </p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301870">Learn more &raquo;</a></p>
    </div>
    <div class="center col-md-4">
        <i class="large material-icons">thumb_up</i>
        <p>Satisfaccion asegurada.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301871">Learn more &raquo;</a></p>
    </div>
    <div class="center col-md-4">
        <i class="large material-icons">contacts</i>
        <p>Contacto seguro y rapido.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301872">Learn more &raquo;</a></p>
    </div>
</div>
